{% load static %}
{% load widget_tweaks %}

{% include 'accounts/main.html' %}

{% block content %}

<div class="Card-Block" style="height: 590px; width: 1300px; margin: auto; margin-top: 50px; border: none;">
    <div class="row">
        <div class="col-4" style="background-color: #39CCCC; padding: 40px 0px 0px 0px;">
            <img src="{% static 'images/' %}{{profile.profile_image}}" height="400px" width="360px" 
            style="border-radius: 50%; margin-left: 40px;" ; />
            <h1 style="text-align: center;">{{profile.user_name}}</h1>
        </div>
        <div class="card col">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-row" style="margin: 40px 0px 0px 40px;">
                    <div class="form-group col-md-5">
                        <label for="user_name">Username : </label><br>
                        {% render_field form.user_name class="form-control" name="user_name" value=profile.user_name type="text" %}
                    </div>
                    <div class="form-group col-md-5" style="padding-left: 50px;">
                        <label for="phone">Phone number : </label><br>
                        {% render_field form.phone class="form-control" name="phone" value=profile.phone type="text" %}
                    </div>
                </div>
                <div class="form-row" style="margin: 40px 0px 0px 40px;">
                    <div class="form-group col-md-5">
                        <label for="email">E-mail : </label><br>
                        {% render_field form.email class="form-control" name="email" value=profile.email type="text" %}
                    </div>
                    <div class="form-group col-md-5" style="padding-left: 50px;">
                        <label for="other">Other Info : </label><br>
                        {% render_field form.other class="form-control" name="other" value=profile.other type="text" %}
                    </div>
                </div>
                <div class="form-row" style="margin: 40px 0px 0px 40px;">
                    <div class="form-group col-md-5">
                        <label for="profile_image">Upload New Photo : </label><br>
                        {% render_field form.profile_image name="profile_image" value=profile.profile_image type="file" %}
                    </div>
                </div>
                <div style="margin: 40px 0px 0px 42px;">
                    <input type="submit" name="submit">
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}